name: brew publish

on:
  pull_request_target:
    types:
      - labeled

jobs:
  publish:
    if: contains(github.event.pull_request.labels.*.name, 'publish')
    runs-on: services-k8s-amd64
    container:
      image: registry.services.helixer.io/ghcr-io/homebrew/ubuntu22.04:latest
    steps:
      - name: Setup git
        env:
          TOKEN: ${{ secrets.GH_TOKEN_HOMEBREW }}
        run: |
          sudo -u linuxbrew git config --global credential.helper store
          sudo -u linuxbrew bash -c "echo 'https://x-access-token:${TOKEN}@github.com' > /home/linuxbrew/.git-credentials"
          sudo -u linuxbrew git config --global user.name "BrewTestBot"
          sudo -u linuxbrew git config --global user.email "homebrew-test-bot@lists.sfconservancy.org"

      - name: Setup tap
        env:
          TOKEN: ${{ secrets.GH_TOKEN_HOMEBREW }}
        run: |
          TAP_DIR=/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/helixerio/homebrew-brews
          sudo -u linuxbrew mkdir -p "$(dirname "$TAP_DIR")"
          sudo -u linuxbrew git clone "https://x-access-token:${TOKEN}@github.com/${{ github.repository }}" "$TAP_DIR"

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GH_TOKEN_HOMEBREW }}
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          TAP_DIR=/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/helixerio/homebrew-brews
          cd "$TAP_DIR"

          sudo -H -u linuxbrew bash -c "
            export PATH=/home/linuxbrew/.linuxbrew/bin:\$PATH
            export HOMEBREW_GITHUB_API_TOKEN=$HOMEBREW_GITHUB_API_TOKEN
            export HOMEBREW_NO_AUTO_UPDATE=1
            cd $TAP_DIR
            brew pr-pull --debug --tap=${{ github.repository }} --workflows=bottle.yml ${{ github.event.pull_request.number }}
          "

      - name: Push commits
        run: |
          TAP_DIR=/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/helixerio/homebrew-brews
          cd "$TAP_DIR"
          sudo -u linuxbrew git push origin main

      - name: Delete branch
        if: github.event.pull_request.head.repo.fork == false
        run: |
          TAP_DIR=/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/helixerio/homebrew-brews
          cd "$TAP_DIR"
          sudo -u linuxbrew git push origin --delete "refs/heads/${{ github.event.pull_request.head.ref }}"
